@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dash Horizon';
  src:
    url('../../public/dash-horizon.otf') format('woff2 supports variations'),
    url('../../public/dash-horizon.otf') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Mona Sans';
  src:
    url('../../public/Mona-Sans.woff2') format('woff2 supports variations'),
    url('../../public/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-gradient: linear-gradient(to bottom, #001233, #001845, #211565, #25177a);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  
  background-color: #F0F4FA;
  box-sizing: border-box;

}

@layer utilities {
  .animate-spin-gradient {
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    animation: spin 2.5s linear infinite;
  }
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}