@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --aura-cyan: #2563eb;
  --aura-blue: #1d4ed8;
  --aura-purple: #1e40af;
  --aura-pink: #3b82f6;
  --aura-dark: #f0f0f0;
  --aura-darker: #ffffff;
  --background-gradient: linear-gradient(to bottom, var(--aura-darker), var(--aura-dark));
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --aura-cyan: #38bdf8;
  --aura-blue: #60a5fa;
  --aura-purple: #818cf8;
  --aura-pink: #a78bfa;
  --aura-dark: #050505;
  --aura-darker: #000000;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-gradient);
}


.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .animate-spin-gradient {
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    animation: spin 2.5s linear infinite;
  }
}


@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}