@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.carousel-item {
  background: black;
  padding: 3px;
  position: relative;
  width: 99%;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2% 2% 8% 2%;
  padding: 2%;
  row-gap: 16px;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: white;
  cursor: pointer;

}

.carousel-item:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.carousel-item:hover:before, .carousel-item:hover:after {
  animation: none;
  opacity: 0;
}


.carousel-item::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.carousel-item::after {
  position: absolute;
  content: "";
  top: 8%;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(10vh);
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}