@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.carousel {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow-x: auto;
  display: flex;
  scroll-behavior: smooth;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.carousel::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}


.carousel-item {
  width: 96%;
  position: relative;
  background-color: black;
  align-self: center;
  margin: 0.2rem;
}

.carousel-item::before, .carousel-item::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background-image: conic-gradient(from var(--rotate), #5ddcff, #3c67e3, #4e00c2, #3c67e3, #5ddcff);
  border-radius: inherit;
  animation: spin 2.5s linear infinite;
}



@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}