

.bg-main{
   background: radial-gradient(circle closest-side, #1b2735 0%, #00051c 100%);
   color: white;
}


.main_show {
    visibility: visible;
    /* overflow: hidden; */
    transition: visibility 700ms ease-in-out;
}

.main_hide {
    visibility: hidden;
    /* overflow: hidden; */
    transition: visibility 700ms, overflow 700ms ease-in-out;
}










