.winter-bg-image {
    background-image: url('../../../public/images/winter.jpg');
    /* Additional properties to control the background */
    background-size: cover; /* Cover the entire element */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}





